
    <div *ngFor="let item of items" class="accordion-item">
        <div class="accordion-header" (click)="toggleItem(item)">
            <div class="item-icon">
                <i class="fa" [ngClass]="item.icon"></i>
            </div>
            <div class="item-info">
                <span>{{ item.title }}</span>
                <div class="item-progress">
                    <div class="progress-bar">
                        <div class="progress" [style.width]="item.progress + '%'"></div>
                    </div>
                    <span class="progress-text">{{ item.progress }}% Completed</span>
                </div>
            </div>
            <div class="item-toggle">
                <i [class]="item.isExpanded ? 'fa fa-minus' : 'fa fa-plus'"></i>
            </div>
        </div>

        <div *ngIf="item.isExpanded" class="accordion-content">
            <ng-container [ngSwitch]="item.content.type">
                <ng-container *ngSwitchCase="'form'">
                    <ng-container *ngIf="isIterable(item.content?.data)">
                        <form>
                                <div class="form-group " >
                                    <form
                                    [formGroup]="partForm"
                                    *ngIf="item.title === 'Part Information'"
                                    >
                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-md-4">
                                        <label for="internalPartNumber"  data-bs-toggle="tooltip" title="Enter the unique part number assigned internally">Internal Part Number</label>
                                        <app-info-icon [infoMessage]="item.content.data[0].infoMessage"></app-info-icon>
                                        <input
                                            id="internalPartNumber"
                                            type="text"
                                            class="form-control"
                                            formControlName="internalPartNumber"
                                            [disabled]="isUpdateEnabled"
                                            placeholder="Enter Internal Part Number"
                                        />
                                        </div>
                                        <div class="col-md-4">
                                        <label for="supplierName" data-bs-toggle="tooltip" title="Select the supplier providing the part">Supplier Name</label>
                                        <app-info-icon [infoMessage]="item.content.data[1].infoMessage"></app-info-icon>

                                        <select
                                            id="supplierName"
                                            class="form-control"
                                            formControlName="supplierName"
                                        >
                                        <option value="" disabled selected>Choose Supplier Name</option>
                                            <option [value]="selectedPart?.supplierName" selected>
                                            {{ selectedPart?.supplierName }}
                                            </option>
                                            <option
                                            *ngFor="let supplier of suppliers"
                                            [value]="supplier.name"
                                            >
                                            {{ supplier.name }}
                                            </option>
                                        </select>
                                        </div>
                                        <div class="col-md-4">
                                        <label for="deliverySiteName" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Delivery Site Name</label>
                                        <app-info-icon [infoMessage]="item.content.data[2].infoMessage"></app-info-icon>

                                        <select
                                            id="deliverySiteName"
                                            class="form-control"
                                            formControlName="deliverySiteName">
                                            <option value="" disabled selected>Choose Delivery Site Name</option>
                                            <option
                                            [value]="selectedPart?.deliverySiteName"
                                            selected
                                            >
                                            {{ selectedPart?.deliverySiteName }}
                                            </option>
                                            <option
                                            *ngFor="let site of deliverySites"
                                            [value]="site.name"
                                            >
                                            {{ site.name }}
                                            </option>
                                        </select>
                                        </div>
                                    </div>

                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-md-4">
                                        <label for="drawingNumber" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Drawing Number</label>
                                        <app-info-icon [infoMessage]="item.content.data[3].infoMessage"></app-info-icon>

                                        <input
                                            id="drawingNumber"
                                            type="text"
                                            class="form-control"
                                            formControlName="drawingNumber"
                                            placeholder="Enter Drawing Number"
                                        />
                                        </div>
                                        <div class="col-md-4">
                                        <label for="incoTerms" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Incoterms</label>
                                        <input
                                            id="incoTerms"
                                            type="text"
                                            class="form-control"
                                            formControlName="incoTerms"
                                            placeholder="Enter Inco terms"
                                        />
                                        </div>
                                        <div class="col-md-4">
                                        <label for="annualVolume" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Annual Volume</label>
                                        <app-info-icon [infoMessage]="item.content.data[4].infoMessage"></app-info-icon>

                                        <input
                                            id="annualVolume"
                                            type="number"
                                            class="form-control"
                                            formControlName="annualVolume"
                                            placeholder="Enter Annual Volume"
                                        />
                                        </div>
                                    </div>

                                    <!-- Row 3 -->
                                    <div class="row">
                                        <div class="col-md-4">
                                        <label for="bomQty" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">BOM Quantity</label>
                                        <app-info-icon [infoMessage]="item.content.data[5].infoMessage"></app-info-icon>

                                        <input
                                            id="bomQty"
                                            type="number"
                                            class="form-control"
                                            formControlName="bomQty"
                                            placeholder="Enter the BOM Quantity"
                                        />
                                        </div>
                                        <div class="col-md-4">
                                        <label for="deliveryFrequency" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Delivery Frequency</label>
                                        <app-info-icon [infoMessage]="item.content.data[6].infoMessage"></app-info-icon>

                                        <input
                                            id="deliveryFrequency"
                                            type="text"
                                            class="form-control"
                                            formControlName="deliveryFrequency"
                                            placeholder="Enter the Delivery Frequency"
                                        />
                                        </div>
                                        <div class="col-md-4">
                                        <label for="lotSize" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Lot Size</label>
                                        <app-info-icon [infoMessage]="item.content.data[7].infoMessage"></app-info-icon>

                                        <input
                                            id="lotSize"
                                            type="number"
                                            class="form-control"
                                            formControlName="lotSize"
                                            placeholder="Enter the Lotsize"
                                        />
                                        </div>
                                    </div>
                                    <!-- Row 4 -->
                                    <div class="row">
                                        <div class="col-md-4">
                                        <label for="manufacturingCategory" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Manufacturing Category</label
                                        >
                                        <app-info-icon [infoMessage]="item.content.data[8].infoMessage"></app-info-icon>

                                        <select
                                            id="manufacturingCategory"
                                            class="form-control"
                                            formControlName="manufacturingCategory">
                                            <option value="" disabled selected>Choose manufacturingCategory</option>
                                            <option
                                            [value]="selectedPart?.manufacturingCategory"
                                            selected
                                            >
                                            {{ selectedPart?.manufacturingCategory }}
                                            </option>
                                            <option
                                            *ngFor="let category of manufacturingCategories"
                                            [value]="category.name"
                                            >
                                            {{ category.name }}
                                            </option>
                                        </select>
                                        </div>
                                        <div class="col-md-4">
                                        <label for="packagingType" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Packaging Type</label>
                                        <app-info-icon [infoMessage]="item.content.data[9].infoMessage"></app-info-icon>

                                        <select
                                            id="packagingType"
                                            class="form-control"
                                            formControlName="packagingType">
                                            <option value="" disabled selected>Choose PackagingType</option>

                                            <option [value]="selectedPart?.packagingType" selected>
                                            {{ selectedPart?.packagingType }}
                                            </option>
                                            <option
                                            *ngFor="let type of packingTypes"
                                            [value]="type.name"
                                            >
                                            {{ type.name }}
                                            </option>
                                        </select>
                                        </div>
                                        <div class="col-md-4">
                                        <label for="productLifeRemaining" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Product Life Remaining</label
                                        >
                                        <app-info-icon [infoMessage]="item.content.data[10].infoMessage"></app-info-icon>

                                        <input
                                            id="productLifeRemaining"
                                            type="number"
                                            class="form-control"
                                            formControlName="productLifeRemaining"
                                            placeholder="Enter productLifeRemaining"
                                        />
                                        </div>
                                    </div>

                                    <!-- Row 5 -->
                                    <div class="row">
                                        <div class="col-md-4">
                                        <label for="partComplexity" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Part Complexity</label>
                                        <app-info-icon [infoMessage]="item.content.data[11].infoMessage"></app-info-icon>

                                        <div>
                                            <div class="d-flex justify-content-between">
                                            <div class="form-check me-3">
                                                <input
                                                class="form-check-input"
                                                type="radio"
                                                id="low"
                                                value="Low"
                                                formControlName="partComplexity"
                                                />
                                                <label class="form-check-label" for="low"
                                                >Low</label
                                                >
                                            </div>
                                            <div class="form-check me-3">
                                                <input
                                                class="form-check-input"
                                                type="radio"
                                                id="medium"
                                                value="Medium"
                                                formControlName="partComplexity"
                                                />
                                                <label class="form-check-label" for="medium"
                                                >Medium</label
                                                >
                                            </div>
                                            <div class="form-check">
                                                <input
                                                class="form-check-input"
                                                type="radio"
                                                id="high"
                                                value="High"
                                                formControlName="partComplexity"
                                                />
                                                <label class="form-check-label" for="high"
                                                >High</label
                                                >
                                            </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="col-md-4">
                                        <label for="paymentTerms" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Payment Terms</label>
                                        <app-info-icon [infoMessage]="item.content.data[12].infoMessage"></app-info-icon>

                                        <input
                                            id="paymentTerms"
                                            type="text"
                                            class="form-control"
                                            formControlName="paymentTerms"
                                            placeholder="Enter paymentTerms"
                                        />
                                        </div>
                                        <div class="col-md-4">
                                        <label for="lifetimeQuantityRemaining" data-bs-toggle="tooltip" title="Select the site where the part will be delivered">Lifetime Quantity Remaining</label
                                        >
                                        <app-info-icon [infoMessage]="item.content.data[13].infoMessage"></app-info-icon>

                                        <input
                                            id="lifetimeQuantityRemaining"
                                            type="number"
                                            class="form-control"
                                            formControlName="lifetimeQuantityRemaining"
                                            placeholder="Enter the lifetimeQuantityRemaining"
                                        />
                                        </div>
                                    </div>
                            </form>
                        </div>              
                        </form>
                    </ng-container>
                </ng-container>
            </ng-container>
    </div>
