<div
  class="central-part-container"
  [ngClass]="{ blur: isLoading }"
  style="position: absolute; width: 50%"
>
  <div class="header">
    <h3 class="items">Items</h3>
    <div class="expand-collapse-buttons">
      <button (click)="expandAll()">Expand All</button>
      <button (click)="collapseAll()">Collapse All</button>
    </div>
  </div>
    <app-part-information
    [selectedPart]="selectedPart"
    (formChanged)="onFormChanged($event)" 
    #partInfoComponent>
    </app-part-information>
    <app-material-information [selectedPart]="selectedPart" style="margin-top: 200px;" (materialFormChanged)="onMaterialFormChanged($event)"></app-material-information>
  <div class="action-buttons fixed">
    <i class="bi bi-arrow-left-circle"></i>
    <i class="bi bi-arrow-right-circle"></i>
    <button
      [style.backgroundColor]="buttonColor"
      class="btn btn-primary"
      type="button"
      (click)="save()"
    >
      Update & Save
    </button>
    <button class="btn btn-secondary" type="button" (click)="recalculateCost()">
      Recalculate Cost
    </button>
  </div>
</div>
<div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner"></div>
</div>
