   <nav class="navbar navbar-expand-lg" style="background-color: #e7eefb;position: fixed;z-index: 1000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"><p>TrueValue Hub</p></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
          <li class="nav-item text-center">
            <a class="nav-link" href="home">
              <i class="bi bi-pentagon"></i> Home
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="costing">
              <i class="bi bi-currency-dollar "></i>Costing
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-graph-up-arrow"></i> Analytics
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-search"></i> 
              <div>AI Search</div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-search"></i> 
              <div>AI Search New</div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-people"></i> Collaborate
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-file-text"></i> Reports
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-database"></i> Database
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">
              <i class="bi bi-buildings"></i> 
              <div>Digital Factory</div>
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" routerLink="/archive">
              <i class="bi bi-archive"></i> Archive
            </a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" routerLink="/settings">
              <i class="bi bi-gear"></i> Settings
            </a>
          </li>
        </ul>

        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
          <input type="text" class="form-control search-input" placeholder="Search..." aria-label="Search">
        </div>
  
      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <i class="bi bi-question-circle"></i>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <i class="bi bi-bell"></i>
          </a>
        </li>
        <li class="nav-item dropdown text-center">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" >
            <i class="bi bi-person-circle"></i>
            <div>Experion</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  