mat-tab-group {
    margin: 100px;
    width: 50%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  
  input, textarea, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    cursor: pointer;
    background-color:#007bff;
    color: black;
    border: none;
    transition: background 0.3s;
  }
  
  button:disabled {
    background-color: #cccccc;
    color: grey;
  }
  
  button:not(:disabled):hover {
    background-color: #6b79d6;
  }

  .file-drop-zone {
    border: 2px dashed #007bff; 
    padding: 20px; 
    margin: 20px 0;
    text-align: center;
    transition: background-color 0.3s; 
    min-height: 100px; 
    cursor: pointer; 
    margin-top: 5px;
  }
  
  .blur {
    filter: blur(5px); 
    pointer-events: none; 
  }
 
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .custom-tab {
    display: flex;
    border-bottom: 1px solid#84a5f3;
  }
  
  
  .tablinks {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    color: black;
    width: 280px;
  }
  
  .tablinks:hover {
    background-color: #84a5f3;
  }
  
  .tablinks.active {
    background-color:#c4d1ec  ;
    color: black;
  }
  
  .tabcontent {
    padding: 12px;
    border: 1px solid #ccc;
    border-top: none;
    display: block; 
    position: absolute; 
    top: 200px; 
    left: 100px;
  }
  
  .file-drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .upload-link {
    color: rgb(0, 123, 255);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .file-selected {
    margin-top: 10px;
  }
  label::after {
    content: '*';
    color: red;
    margin-left: 5px; 
  }
  .file-drop-zone.drag-over {
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
  }
  .drop-message {
    position: fixed; 
    top: 65%; 
    left: 35%; 
    background-color: #c4d1ec; 
    color: black; 
    padding: 10px;
    border-radius: 5px; 
    z-index: 1000;
    pointer-events: none; 
  }
  