mat-tab-group {
    margin: 100px;
    width: 50%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  
  input, textarea, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
    border: none;
    transition: background 0.3s;
  }
  
  button:disabled {
    background-color: #cccccc;
  }
  
  button:not(:disabled):hover {
    background-color: #303f9f;
  }
  .file-upload-container {
    margin-top: 20px;
  }
  
  .file-drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .file-drop-zone.drag-over {
    border-color: #3f51b5;
    background-color: #f1f1f1;
  }
  